<div class="signup">
  <header>
    <h2>{{title}}</h2>
  </header>
  <section>
    <div class="spinner" *ngIf='showSpinner'>
      <img src='./../../assets/images/loading.gif'>
    </div>
    <div class="overlay" *ngIf='showSpinner'></div>
    <div class="serviceError" *ngIf='serviceError'>
      Unable to register. Please try again.
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="login-form">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="email" id="email">
          <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors && !validateForm.get('email').hasError('emailTaken')">
            The input is not valid E-mail!
          </nz-form-explain>
          <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors && validateForm.get('email').hasError('emailTaken')">
            Email is already registered to a user!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your password!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
          <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
            <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
              Please confirm your password!
            </ng-container>
            <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
              Two passwords that you enter is inconsistent!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="alias" nzRequired>
          <span>
            Alias
            <nz-tooltip nzTitle="What do you want other to call you">
              <i nz-tooltip class="anticon anticon-question-circle-o"></i>
            </nz-tooltip>
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="alias" formControlName="alias">
          <nz-form-explain *ngIf="validateForm.get('alias').dirty && validateForm.get('alias').errors && !validateForm.get('alias').hasError('aliasTaken')">
            Please input an alias
          </nz-form-explain>
          <nz-form-explain *ngIf="validateForm.get('alias').dirty && validateForm.get('alias').errors && validateForm.get('alias').hasError('aliasTaken')">
            Alias is already taken!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="captcha" nzRequired>Captcha</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <div class="g-recaptcha" id="reCaptcha"></div>
            </div>
          </div>
          <div nz-row [nzGutter]="8" *ngIf="showError" style="color: red">
            Please verify the captcha
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <label nz-checkbox formControlName="agree">
            <span>I have read the
              <a>agreement</a>
            </span>
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button class="login-form-button" [nzType]="'primary'">Register</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </section>
</div>
